:root {
  --text-main-color: #e6c88c;
  --green: #1f423d;
}

.banner {
  background-color: #1b3b36;
  color: var(--text-main-color);
  padding: 5em 2em;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.bannerInner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.inputGroup {
  width: 80%;
}

#button-addon2 {
  color: black;
  background-color: var(--text-main-color);
  border: none;
  outline: none;
}

.book_like_btn {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  border-color: rgb(230, 200, 140);
  color: rgb(230, 200, 140);
  align-self: flex-end;
}

.book_like_btn:hover {
  border-color: rgb(247, 130, 130);
  color: white;
  background-color: rgb(247, 130, 130);
}

.like {
  border-color: rgb(247, 130, 130);
  color: white;
  background-color: rgb(247, 130, 130);
}

.like:hover {
  background-color: transparent;
  border-color: rgb(230, 200, 140);
  color: rgb(230, 200, 140);
}

.spinner {
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translateY(-50%);
}

.bookSection {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.book_img {
  height: 180px;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
}

.book_card {
  transition: transform 0.3s ease-in-out;
}

.book_card:hover {
  transform: translateY(-2%);
}

.nav {
  box-shadow: 0px 0px 5px 1px rgb(218, 213, 213);
}

.nav_items {
  display: flex;
  justify-content: flex-end;
}

.nav_link {
  display: flex;
  gap: 2em;
}

.loginText {
  color: var(--text-main-color);
}

.login_container {
  background-color: var(--green);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Login_box {
  background-color: white;
  width: 400px;
  height: 400px;
  border-radius: 20px;
  padding: 2em;
  display: flex;
  flex-direction: column;
  gap: 1em;

  h3 {
    text-align: center;
  }

  input {
    width: 100%;
    border: 1px solid rgb(235, 220, 220);
    padding: 0.5em 1em;
  }

  a {
    color: black;
    text-decoration: none;
    text-align: right;
  }
  button {
    background-color: var(--text-main-color);
    border: none;
    color: black;
  }
  button:hover {
    background-color: var(--text-main-color);
    opacity: 0.9;
    color: black;
  }
}

@media screen and (max-width: 991px) {
  .nav_items {
    justify-content: center;
  }
}
